{{ partial "header.html" . }}

<div class="article-meta">
  {{ with .Params.author }}<h1 class="author">{{ . }}</h1>{{ end }}
  <h1><span class="title">{{ .Title | markdownify }}</span></h1>
</div>
<hr>

{{ .Content }}


{{ if not (eq .Title "magga") }}

  {{if not (eq .Title "Primeros pasos") }}

    {{ range .Pages }}                {{/* Para secciones "texto" y contenido de libros */}}
      <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}

    {{ range .Sections }}
      {{if (eq .Title "Textos") }}       {{/* Para páginas de autor (no tienen .Pages) */}}
        <h2>Textos</h2>
        {{ range .Pages }}

          <a href="{{ .Permalink }}">{{ .Title }}</a>

        {{ end }}<br>
      {{ end }}

      {{if (eq .Title "Libros") }}        {{/* Para páginas de autor (no tienen .Pages) */}}
        <h2>Libros</h2>
        {{ range .Sections }}

          <a href="{{ .Permalink }}">{{ .Title }}</a><br>

        {{ end }}
      {{ end }}
      {{if (eq .Parent.Title "Biblioteca") }}     {{/* Para /Biblioteca */}}
        <span class="autor"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
        {{ range .Sections }}
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}<br>
      {{ end }}
                                                    {{/* Para listado de libros en Secciones "libros" */}}
      {{if not (or (eq .Title "Libros") (eq .Title "Textos") (eq .Parent.Title "Biblioteca"))}}
        <span class="libro"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
      {{ end }}
    {{end}}
  {{end}}
{{end}}



{{ partial "footer.html" . }}
