{{ partial "header.html" . }}

<div class="article-meta">
  {{ with .Params.author }}<h1 class="author">{{ . }}</h1>{{ end }}
  <h1><span class="title">{{ .Title | markdownify }}</span></h1>
</div>
<hr>

{{ .Content }}

    {{if and (ne .Title "Biblioteca") (ne  .Title "Libros") }}  {{/* Para secciones "texto" y contenido de libros */}} 
    {{ range .Pages }}                
      <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
    {{ end }}
    
    {{if (eq .Title "Libros") }}
    {{ range .Sections }}
    <span class="autor"><a href="{{ .Permalink }}">{{ .Title }}</a></span>    
    {{ end }}<br>
    {{ end }}

  {{if (eq .Parent.Title "Biblioteca") }}
    {{ range .Sections }}
      <h3>{{ .Title }}</h3>      {{/* Para páginas de autor (no tienen .Pages) */}}
        
        {{ range .Pages }}
          <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
        {{ range .Sections }}
        <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    {{ end }}
  {{ end }}

      {{if (eq .Title "Biblioteca") }}     {{/* Para /Biblioteca */}}
        {{ range .Sections }}
          <span class="autor"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
          {{ range .Sections }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}<br>
        {{ end }}<br>
      {{ end }}
      
    




{{ partial "footer.html" . }}
